<div class="titleBorder" [class.titleBorderDark]="darkMode">
  <div class="title" *ngIf="!showScore">
    <h2 class="gameTitle" [class.titleDark]="darkMode">Tic-Tac-Tangular</h2>
    <p class="description" [class.titleDark]="darkMode">A family classic on a modern framework</p>
  </div>
  <div class="scoreboard" *ngIf="showScore">
      <h2 class="gameTitle" [class.titleDark]="darkMode">scoreboard</h2>
      <p class="description" [class.titleDark]="darkMode">this should show the score</p>
  </div>
</div>
