<div class="titleBorder" [class.titleBorderDark]="darkMode">
  <div class="title" *ngIf="!showScore">
    <h2 class="gameTitle" [class.titleDark]="darkMode">Tic-Tac-Tangular</h2>
    <p class="description" [class.titleDark]="darkMode">A family classic on a modern framework</p>
  </div>
  <div class="scoreboard" *ngIf="showScore">
      <div class="playerOne">
        <h2 class="playerTitle" [class.titleDark]="darkMode">X</h2>
        <p class="playerScore" [class.titleDark]="darkMode">{{score.playerOne}}</p>
      </div>
      <div class="titleScoreboard">
        <h2 class="scoreGameTitle" [class.titleDark]="darkMode">Tic-Tac-Tangular</h2>
        <p class="scoreDescription" [class.titleDark]="darkMode">A family classic on a modern framework</p>
      </div>
      <div class="playerTwo">
        <h2 class="playerTitle" [class.titleDark]="darkMode">O</h2>
        <p class="playerScore" [class.titleDark]="darkMode">{{score.playerTwo}}</p>
      </div>
  </div>
</div>
