<div [class.app]="!darkMode" [class.darkMode]="darkMode">
  <div class="darkModeToggle">
    <div class="outer" [class.toggleOuter]="darkMode">
      <div class="inner"  [class.toggleInner]="darkMode" (click)="handleInner()"></div>
    </div>
  </div>
  
  <div class="titleBorder" [class.titleBorderDark]="darkMode">
    <h2 class="gameTitle" [class.titleDark]="darkMode">Tic-Tac-Tangular</h2>
    <p class="description" [class.titleDark]="darkMode">A family classic on a modern framework</p>
  </div>
  <app-game-board></app-game-board>
</div>