h2, p{
  text-align: center;
}

.title{
  font-size: 69px;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.description{
  font-size: 30px;
  margin-top: 0rem;
  margin-bottom: 1.2rem;
}

.outer{
  position: absolute;
  background-color: #4bb543;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  transition: ease 0.25s;
}

.inner{
  background-color: white;
  position: relative;
  width: 28px;
  height: 26px;
  top: 5%;
  left: 5%;
  border-radius: 15px;
  transition: ease 0.25s;
}

.toggleInner{
  transform: translateX(26px);
}

.toggleOuter{
  background-color: grey;
}