h2{
  text-align: center;
}

.board{
  width: 600px;
  height: 600px;
  margin: auto;
}

.square {
  float: left;
  width: 33.333333333%;
  height: 33.333333333%;
  border-width: 5px;
  border-color: rgb(46, 46, 46);
  cursor: pointer;
}

.square.left {
  clear: both;
  border-right-style: solid;
  width: 32%
}

.square.right {
  border-left-style: solid;
  width: 32%;
}

.square.top {
  border-bottom-style: solid;
}

.square.bottom {
  border-top-style: solid;
}
